.box {
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    align-items: center;
    border-bottom: solid 1px #ccc;
    padding: 0.3rem 0.3rem 0.3rem 0;

    .icon {
      width: 1.2em;
      height: 1.2em;
      margin-right: 0.6rem;
    }

    input {
      font-size: 0.8rem;
    }
  }

  .error {
    min-height: 1.1rem;
    font-size: 0.8rem;
    color: red;
  }
}