.container {
  height: 100vh;

  main {
    height: 90%;
    background: #f1f2f7;
    overflow: scroll;
  }

  footer {
    height: 10%;
    padding: 0 2rem;
    border-top: solid 1px #cccccd;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {font-size: 1.2rem;}

        a {font-size: 0.8rem;margin-top: 4px}

        &.active {
          .icon {color: #f3cc2f}

          a {color: #f3cc2f}
        }
      }
    }
  }
}