.container {
  height: 100vh;
  background: #ffd453;
  padding: 3rem 1.5rem 0;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: #323232;

    .logo {
      width: 3rem;
      height: 3rem;
    }
  }

  main {
    margin-top: 1.5rem;
    background: #fff;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 1.6rem;

    .input {
      width: 15rem;

      &:first-child {margin-bottom: 1rem;}
    }
  }

  .button {
    margin-top: 1.8rem;
    display: flex;
    justify-content: center;

    button {
      width: 8rem;
      padding: 0.6rem;
      text-align: center;
      border-radius: 1.8rem;
      background: #323232;
      color: #ffd453;
    }
  }

  footer {
    .tip {
      margin-top: 6rem;
      text-align: center;
      font-size: small;
      color: #323232;

      a {color: #4080ff}
    }
  }
}